<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.nmt.nmj.editor.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="List"
            class="com.nmt.nmj.editor.perspective.ListPerspective"
            id="com.nmt.nmj.editor.plugin.listPerspective">
      </perspective>
      <perspective
            name="Wall"
            class="com.nmt.nmj.editor.perspective.WallPerspective"
            id="com.nmt.nmj.editor.plugin.wallPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="nmj.editor.openDatabase"
            name="nmj.editor.openDatabase">
      </command>
      <command
            id="nmj.editor.refreshDatabase"
            name="nmj.editor.refreshDatabase">
      </command>
      <command
            id="nmj.editor.closeDatabase"
            name="nmj.editor.closeDatabase">
      </command>
      <command
            id="nmj.editor.listView"
            name="nmj.editor.listView">
      </command>
      <command
            id="nmj.editor.wallView"
            name="nmj.editor.wallView">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.nmt.nmj.editor.view.ListView"
            id="com.nmt.nmj.editor.listView"
            name="List View"
            restorable="true">
      </view>
      <view
            class="com.nmt.nmj.editor.view.WallView"
            id="com.nmt.nmj.editor.wallView"
            name="Wall View"
            restorable="true">
      </view>
   </extension>
   <extension
         id="nmj_editor"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.nmt.nmj.plugin.application"
            name="nmj-editor">
         <property
               name="appName"
               value="nmj-editor">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="nmj.editor.openDatabase"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+O">
      </key>
      <key
            commandId="nmj.editor.refreshDatabase"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+R">
      </key>
      <key
            commandId="nmj.editor.closeDatabase"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+D">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Q">
      </key>
      <key
            commandId="nmj.editor.listView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+1">
      </key>
      <key
            commandId="nmj.editor.wallView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+2">
      </key>
   </extension>

</plugin>
