<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.nmt.nmj.editor.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="NMJ Editor Perspective"
            class="com.nmt.nmj.editor.perspective.Perspective"
            id="com.nmt.nmj.editor.plugin.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="nmj.editor.openDatabase"
            name="nmj.editor.openDatabase">
      </command>
      <command
            id="nmj.editor.refreshDatabase"
            name="nmj.editor.refreshDatabase">
      </command>
      <command
            id="nmj.editor.closeDatabase"
            name="nmj.editor.closeDatabase">
      </command>
      <command
            id="nmj.editor.listView"
            name="nmj.editor.listView">
      </command>
      <command
            id="nmj.editor.wallView"
            name="nmj.editor.wallView">
      </command>
      <keyBinding
            command="nmj.editor.openDatabase"
            commandId="nmj.editor.openDatabase"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Ctrl+O">
      </keyBinding>
            <keyBinding
            command="nmj.editor.listView"
            commandId="nmj.editor.listView"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Ctrl+L">
      </keyBinding>
            <keyBinding
            command="nmj.editor.wallView"
            commandId="nmj.editor.wallView"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Ctrl+W">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.nmt.nmj.editor.view.EditorView"
            id="com.nmt.nmj.editor.editorView"
            name="Editor View"
            restorable="true">
      </view>
   </extension>
   <extension
         id="nmj_editor"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.nmt.nmj.plugin.application"
            name="rcp">
      </product>
   </extension>

</plugin>
